
.login-container {
  display: grid;
  grid-template-columns: 1fr minmax(414px, 1200px) 1fr;
}

.login-wrapper {
  grid-column: 2;
  height: 736px;
  background-color: white;
  background-image: url('../../imgs/bike-montains.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.login-wrapper .logo {
  padding-top: 108px;
}

.login-form {
  margin-top: 40px;
}

.login-form input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #BCBCBC;
}

.form-sending {
  padding-top: 10px;
}

.field-validation {
  padding-top: 10px;
  color: #D40032;
}

.form-sending.error {
  color: #D40032;
}

/*
  * Responsive
  */

/*
 * tablet and mobile landscape
 */
@media (min-width: 640px) {
  .login-container {
    grid-template-rows: minmax(25px, 50px) 633px minmax(25px, 50px);
  }

  .login-wrapper {
    border-radius: 40px;
    height: 633px;
    grid-row: 2;
    background: url('../../imgs/bike-montains-desktop.svg') #fff;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .login-box {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 130px;
  }
  .logo {
    margin-right: 30px;
  }
}

/*
 * desktop 
 */
@media (min-width: 768px) {

}

/*
 * desktop 
 */
@media (min-width: 1024px) {
}

/*
 * desktop WIDE
 */
@media (min-width: 1250px) {
}

