.biker-container {
  display: grid;
  grid-template-columns: 1fr 414px 1fr;
}

.biker-wrapper {
  grid-column: 2;
}

.screen-title {
  width: 100%;
  height: 51px;
  background-color: #FECD1A;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-info {
  margin-top: 20px;
}

.detail-box {
  margin-top: 30px;
  width: 100%;
  height: 340px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 40px 20px 1fr;
  align-items: center;
}

.parcel-id {
  font-weight: 700;
}

.parcel-item {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.parcel-address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.parcel-assigned-to {
  font-weight: 400;
  font-size: 0.8rem;
}

.parcel-detailed-info {
  font-size: 0.9rem;
  align-self: start;
  justify-self: start;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  line-height: 2;
  overflow: hidden;
  white-space: wrap; 
}

.parcel-detail-wrapper {
  display: grid;
  justify-content: center;
}

.parcel-detail-buttons button {
  font-size: 0.9rem;
  width: 170px;
  height: 32px;
}
.assign-to-biker {
  background-color: #242C34;
  color: white;
}

.unassign-to-biker {
  background-color: #FECD1A;
  color: #242C34;
}


/*
* Responsive
*/

/*
 * tablet and mobile landscape
 */
 @media (min-width: 640px) {
  .yellow-box {
    width: 715px;
  }
}

/*
 * desktop 
 */
@media (min-width: 768px) {

}

/*
 * desktop 
 */
@media (min-width: 1024px) {
}

/*
 * desktop WIDE
 */
@media (min-width: 1250px) {
}
